Host [HOST (for e.g. dl-docker => ssh dl-docker)]
 HostName [HOSTNAME (url)]
 Port [PORT]
 User dld-user
 StrictHostKeyChecking no
 LocalForward 8888 localhost:8888
 LocalForward 3000 localhost:3000
 LocalForward 80 localhost:80
 LocalForward 443 localhost:443
 LocalForward 22 localhost:22
 LocalForward 21 localhost:21
 IdentityFile [KEY FILE PATH]