body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background: #eee;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #2f89fc; }
a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

#page-content-wrapper {
    min-width: 100vw;
    padding: 80px 40px 40px;
}

.login-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #292929;
    color: #fff;
}

.login-form {
    width: 350px;
    background: #212121;
}

.login-form form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #aaa;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
}

.login-form form .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    opacity: 1; /* Firefox */
}

.login-form form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
}

.login-form form .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa;
}

.wrapper {
    width: 100%; }

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #212121;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; }
#sidebar .h6 {
    color: #fff; }
#sidebar.active {
    margin-left: -250px; }
#sidebar.active .custom-menu {
    margin-right: -50px; }
#sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px; }
#sidebar h1 .logo {
    color: #fff;
    display: block;
    padding: 10px 30px;
}
#sidebar ul.components {
    padding: 0; }
#sidebar ul li {
    font-size: 16px; }
#sidebar ul li > ul {
    margin-left: 10px; }
#sidebar ul li > ul li {
    font-size: 14px; }
#sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
#sidebar ul li a:hover {
    color: #fff;
    background: #2f89fc;
    border-bottom: 1px solid #2f89fc; }
#sidebar ul li .logout-button{
    padding: 15px 30px;
    display: block;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
#sidebar ul li .logout-button:hover{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
}
#sidebar ul li.active > a {
    background: transparent;
    color: #fff; }
#sidebar ul li.active > a:hover {
    background: #2f89fc;
    border-bottom: 1px solid #2f89fc; }
@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -250px; }
    #sidebar.active {
        margin-left: 0; }
    #sidebar .custom-menu {
        margin-right: -60px !important;
        top: 10px !important; } }
#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: -50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
#sidebar .custom-menu .btn.btn-primary {
    background: transparent;
    border-color: transparent; }
#sidebar .custom-menu .btn.btn-primary i {
    color: black;
    font-size: 24px; }
#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
    background: transparent !important;
    border-color: transparent !important; }

a[data-toggle="collapse"] {
    position: relative; }

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none; } }

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.btn.btn-primary {
    background: #2f89fc;
    border-color: #2f89fc; }
.btn.btn-primary:hover, .btn.btn-primary:focus {
    background: #2f89fc !important;
    border-color: #2f89fc !important; }

.footer p {
    color: rgba(255, 255, 255, 0.5); }